.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.upload-audio-container {
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
}

.upload-file-button {
  margin-top: 20px;
}

.App-header {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-elements {
  margin-top: 20px;
}
