.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.upload-audio-container {
  /* position: fixed; */
  /* bottom: 0; */
  margin-bottom: 50px;
  margin-top: 50px;
  /* left: 50%; */
  /* transform: translateX(-20%); */
  z-index: 1000;
  /* width: 100%; */
}

.upload-file-button {
  margin-top: 20px;
}

.App-header {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-elements {
  word-break: break-word;
  max-width: 600px;
  margin-top: 20px;
}
